<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="/"><img class="logo-dark hidden-xs" src="/public/images/quickfix.png"
                width="150px" style="position: absolute;top:-60%;left: -10%;" alt="" /> -->

        <a class="navbar-brand" href="/admin" style="color:black">
            <img src="/images/quickfix.png" width="120px" style="position: absolute; top: -20px; left: -3px;"
                alt="not found" />
        </a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">

            <ul class="dropdown-menu dropdown-user">
                <li class="divider"></li>
                <li>
                    <a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->