<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
            
                <!-- /input-group -->
            </li>
            <li>
                <a href="/admin" style="color:black"><i class="fa fa-dashboard fa-fw" style="color:black"></i> Dashboard</a>
            </li>
            <li>
                <a href="#" style="color:black"><i class="fa fa-bar-chart-o fa-fw" style="color:black"></i> Service Man<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/worker" style="color:black">All ServiceMan</a>
                    </li>
                   
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/user" style="color:black"><i class="fa fa-table fa-fw" style="color:black"></i>User</a>
            </li>
            <li>
                <a href="/order" style="color:black"><i class="fa fa-edit fa-fw" style="color:black"></i>View Order</a>
            </li>
            <li>
                <a href="#" style="color:black"><i class="fa fa-wrench fa-fw" style="color:black"></i>Service<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/admin/category/addservice" style="color:black" >Add Service</a>
                    </li>
                    <li>
                        <a href="/admin/category/viewservice" style="color:black" >View Service</a>
                    </li>
                  
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#" style="color:black"><i class="fa fa-sitemap fa-fw" style="color:black"></i>Change Password</a>
              
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#" style="color:black"><i class="fa fa-files-o fa-fw" style="color:black"></i>Logout</a>
              
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>