<style>
    .list-group-item {
        font-size: 18px;
    }

    .form-control {
        color: rgb(55, 52, 52) !important;
    }
</style>
<%- include('./utils/header'); -%>
    <div id="wrapper" class="home_two">
        <div id="page_title">
            <div class="container text-center">
                <div class="panel-heading">Change Password</div>
            </div>
        </div>
        <section id="Contact_form">
            <div style=" padding-top : 10;">
                <!-- Sidebar-->
                <div class="col-lg-3 sidebar-wrapper">
                    <div class="list-group list-group-flush">
                        <a class="list-group-item" style="font-size: 22px; background-color: lightgray;">Settings</a>
                        <a class="list-group-item" href="/profile">Account Details</a>
                        <a class="list-group-item" href="/editprofile">Edit Profile</a>
                        <a class="list-group-item" href="/orders">My Orders</a>
                        <a class="list-group-item" href="/feedbacks">Feedbacks</a>
                        <a class="list-group-item" href="/changepassword"
                            style="background-color: rgb(240, 235, 235);">Change Password</a>
                        <a class="list-group-item" href="/logout">Logout</a>
                    </div>
                </div>
                <!-- Page content wrapper-->
                <div id="col-lg-8">
                    <div class="booking_form">
                        <div class="container-fluid">
                            <% if(message.response || message.error) { %>
                                <div class="alert alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <%=message.response || message.error %>
                                </div>
                                <% } %>
                                    <% if(message.success) { %>
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <%=message.success %>
                                        </div>
                                        <% } %>
                                            <div class="row">
                                                <form method="post" action="/changepassword">

                                                    <div class="col-md-8" style="padding-left: 15px;">
                                                        <h4>Old Password</h4>
                                                        <input class="form-control" id="oldPassword" name="oldPassword"
                                                            placeholder="Old Password" type="password" />

                                                        <h4>New Password</h4>
                                                        <input class="form-control" id="newPassword" name="newPassword"
                                                            placeholder="New Password" type="password" />

                                                        <h4>Confirm Password</h4>
                                                        <input class="form-control" id="confirmPassword"
                                                            name="confirmPassword" placeholder="Confirm Password"
                                                            type="password" />


                                                        <input class="btn btn-primary btn-skin" value="Change Password"
                                                            style="
                                            background-color: rgb(4, 196, 199);
                                            border-color: rgb(8, 196, 199);
                                            color: white;
                                            margin-top: 20px;
                                          " type="submit" />

                                                    </div>



                                                </form>
                                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('./utils/footer'); -%>
    </div>
    <!--Contact Form End-->



    <!--/Wrapper End-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/datetime/moment.js"></script>
    <script src="/js/datetime/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/owlcarousel/owl.carousel.min.js"></script>
    <script src="/js/custom.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i["GoogleAnalyticsObject"] = r;
            (i[r] =
                i[r] ||
                function () {
                    (i[r].q = i[r].q || []).push(arguments);
                }),
                (i[r].l = 1 * new Date());
            (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m);
        })(
            window,
            document,
            "script",
            "https://www.google-analytics.com/analytics.js",
            "ga"
        );

        ga("create", "UA-106074231-1", "auto");
        ga("send", "pageview");
    </script>