<%- include('./utils/header'); -%>

<!--Wrapper Start-->
<div id="wrapper">
  <!--Header Section Start-->
  <header
    id="header"
    data-spy="affix"
    data-offset-top="10"
    data-offset-bottom="10"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-10 col-xs-10 col-sm-10">
          <nav class="navbar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false"
              >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"
                ><img
                  class="logo-dark hidden-xs"
                  src="images/logo.png"
                  alt="" />
                <img
                  class="logo-dark hidden-lg hidden-md hidden-sm"
                  src="images/mobile_logo.png"
                  alt=""
              /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="main-menu collapse navbar-collapse"
              id="bs-example-navbar-collapse-1"
            >
              <ul class="nav navbar-nav navbar-left">
                <li role="presentation">
                  <a
                    href="/"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Home
                  </a>
                </li>

                <li><a href="service">Service</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </nav>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 col-sm-12 hidden-xs">
          <ul class="right-contact">
            <li>
              <i class="fa fa-phone" aria-hidden="true"></i> +91 8107186985
            </li>

            <li>
              <a
                href="login"
                class="btn btn-primary"
                style="
                  background-color: rgb(4, 196, 199);
                  border-color: rgb(8, 196, 199);
                "
              >
                Login</a
              >
            </li>
            <li>
              <a
                href="register"
                class="btn btn-primary"
                style="
                  background-color: rgb(8, 196, 199);
                  border-color: rgb(8, 196, 199);
                "
                >Register</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </header>
  <!--/Header Section End-->

  <!--Banner Start-->
  <section id="banner" class="home-one">
    <div class="container text-center parallax-section">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="panel-heading">Ready to Live Smarter?</h1>
          <p class="caption">
            Book Expert home cleaners and handymen at a moment's notice. just
            pick a<br />
            time and we'll do the rest
          </p>
          <form class="form-inline book-now-home">
            <div class="form-group">
              <div class="input-group">
                <div class="dropdown category-dropdown text-left">
                  <a data-toggle="dropdown" href="#"
                    ><i class="fa fa-list" aria-hidden="true"></i>
                    <span class="change-text">Select Service</span>
                    <i
                      class="fa fa-caret-down pull-right"
                      aria-hidden="true"
                    ></i>
                  </a>
                  <ul class="dropdown-menu category-change">
                    <li><a href="#">Fashion&amp;Beauty</a></li>
                    <li><a href="#">Cars &amp; Vehicles</a></li>
                    <li><a href="#">Electronics&amp;Gedgets</a></li>
                    <li><a href="#">Real Estate</a></li>
                    <li><a href="#">Sports &amp; Games</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group location-code">
                <input
                  type="text"
                  class="form-control zipcode"
                  id="zipcode"
                  placeholder="Pincode"
                />
              </div>
            </div>
            <button
              type="submit"
              class="btn btn booknow"
              style="background-color: rgb(4, 186, 189)"
            >
              <a href="/booking" style="color: white; text-decoration: none"
                >Book now</a
              >
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!--/Banner End-->

  <!--How it works Section Satrt-->
  <section id="howitwork">
    <div class="container text-center">
      <h1 class="panel-heading">How it works</h1>
      <div class="row">
        <div class="col-md-3 col-xs-offset-0 step-one">
          <img src="images/Book.png" alt="Book" class="img-circle htw" />
          <h4>Book</h4>
          <p>
            Select the date and time like<br />
            your perofessional to show up
          </p>
        </div>
        <div class="col-md-1 hidden-xs hidden-sm"></div>
        <div class="col-md-3 step-two">
          <img src="images/Schedule.png" alt="Schedule" class="img-circle" />
          <h4>Schedule</h4>
          <p>
            Certified Taskers comes over<br />
            and done your task
          </p>
        </div>
        <div class="col-md-1 hidden-xs hidden-sm"></div>
        <div class="col-md-3">
          <img src="images/Relax.png" alt="Relax" class="img-circle" />
          <h4>Relax</h4>
          <p>
            your task is completed to your<br />
            satisfaction - guranteed
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--How it works Section End-->

  <!--Our services Section Satrt-->
  <section id="services">
    <div class="container text-center">
      <h1 class="panel-heading">Our services</h1>
      <ul class="services-list">
        <li>
          <a href="bookform"
            ><img
              src="images/services-icons/cleaning.png"
              alt="cleaning"
            /><br />
            Cleaning</a
          >
        </li>
        <li>
          <a href="service_detail.html"
            ><img
              src="images/services-icons/electrical.png"
              alt="electrical"
            /><br />
            Electrical</a
          >
        </li>
        <li>
          <a href="#"
            ><img
              src="images/services-icons/plumbing.png"
              alt="plumbing"
            /><br />
            Plumbing</a
          >
        </li>
        <li>
          <a href="service_detail.html"
            ><img
              src="images/services-icons/appliances.png"
              alt="appliances"
            /><br />
            Appliances</a
          >
        </li>
        <li>
          <a href="service_detail.html"
            ><img
              src="images/services-icons/carpentry.png"
              alt="carpentry"
            /><br />
            Carpentry</a
          >
        </li>
        <li>
          <a href="service_detail.html"
            ><img src="images/services-icons/geyser.png" alt="geyser" /><br />
            Geyser Service</a
          >
        </li>
        <li>
          <a href="service_detail.html"
            ><img src="images/services-icons/vehicle.png" alt="vehicle" /><br />
            Vehicle Care</a
          >
        </li>
        <li>
          <a href="service_detail.html"
            ><img src="images/services-icons/pest.png" alt="pest" /><br />
            Pest Control</a
          >
        </li>
        <li>
          <a href="service_detail.html"
            ><img
              src="images/services-icons/painting.png"
              alt="painting"
            /><br />
            Painting</a
          >
        </li>
        <li>
          <a href="service_detail.html"
            ><img src="images/services-icons/more.png" alt="more" /><br />
            View More</a
          >
        </li>
      </ul>
    </div>
  </section>
  <!--Our services Section End-->

  <!--Trust Security Section Satrt-->
<<<<<<< HEAD
 
=======

>>>>>>> 0a19d7c959cd20decb4ccf456d35343482878fdc
  <!--Trust Security Section End-->

  <!--Our Numbers Satrt-->
  <section id="numbers">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <!--counter box-->
          <div class="counter_box text-center">
            <div class="counter_icon">
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            </div>
            <div class="counter_number counter">
              <span class="stat-count">100</span>%
            </div>
            <h4 class="counter_name">Quality</h4>
          </div>
          <!--counter box end-->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <!--counter box-->
          <div class="counter_box text-center">
            <div class="counter_icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <div class="counter_number counter">
              <span class="stat-count">2500</span>+
            </div>
            <h4 class="counter_name">People Working</h4>
          </div>
          <!--counter box end-->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <!--counter box-->
          <div class="counter_box text-center">
            <div class="counter_icon">
              <i class="fa fa-calendar-o" aria-hidden="true"></i>
            </div>
            <div class="counter_number counter">
              <span class="stat-count">8</span> Years
            </div>
            <h4 class="counter_name">Years Experience</h4>
          </div>
          <!--counter box end-->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <!--counter box-->
          <div class="counter_box text-center">
            <div class="counter_icon">
              <i class="fa fa-smile-o" aria-hidden="true"></i>
            </div>
            <div class="counter_number counter">
              <span class="stat-count">900</span>+
            </div>
            <h4 class="counter_name">Happy Smiles</h4>
          </div>
          <!--counter box end-->
        </div>
      </div>
    </div>
  </section>
  <!--/Our Numbers Satrt End-->

  <!--Features Section Satrt-->

  <!--Features Section End-->

  <!--Testimonails Section Satrt-->
  <section id="testimonails">
    <div class="container text-center">
      <h1 class="panel-heading">Testimonails</h1>
      <div class="row">
        <div class="col-md-12">
          <div
            id="carousel-example-generic"
            class="carousel slide"
            data-ride="carousel "
          >
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li
                data-target="#carousel-example-generic"
                data-slide-to="0"
                class="active"
              ></li>
              <li
                data-target="#carousel-example-generic"
                data-slide-to="1"
              ></li>
              <li
                data-target="#carousel-example-generic"
                data-slide-to="2"
              ></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner text-center">
              <div class="item active">
                <div class="avatar">
                  <img
                    class="img-circle"
                    src="images/clinte1.png"
                    alt="Client 1"
                  />
                </div>
                <h3>Kevin Austin</h3>
                <strong>Lorem Ipsum</strong>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, a
                </p>
              </div>
              <div class="item">
                <div class="avatar">
                  <img
                    class="img-circle"
                    src="images/testimonails2.png"
                    alt="Client 2"
                  />
                </div>
                <h3>Kevin Austin</h3>
                <strong>Lorem Ipsum</strong>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, a
                </p>
              </div>
              <div class="item">
                <div class="avatar">
                  <img
                    class="img-circle"
                    src="images/testimonails3.png"
                    alt="Client 3"
                  />
                </div>
                <h3>Kevin Austin</h3>
                <strong>Lorem Ipsum</strong>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, a
                </p>
              </div>
            </div>
            <!-- Controls -->
            <a
              class="left carousel-control"
              href="#carousel-example-generic"
              data-slide="prev"
            >
              <span class="fa fa-angle-left"></span>
            </a>
            <a
              class="right carousel-control"
              href="#carousel-example-generic"
              data-slide="next"
            >
              <span class="fa fa-angle-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Testimonails Section End-->

  <!--Downlod app Section Satrt-->

  <!--Features Section End-->

  <!--Trusted Section Satrt-->
  <section id="trusted">
    <div class="container text-center">
      <div class="row text-left">
        <div class="col-md-2 col-sm-3 col-xs-12">
          <h3 class="panel-heading">TRUSTED BY</h3>
        </div>
        <div class="col-md-10 col-sm-12 col-xs-12">
          <ul class="trusted_logo owl-carousel" id="trusted-slider">
            <li>
              <a href="#"
                ><img src="images/Trusted_logo1.png" alt="Logo 1"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="images/Trusted_logo2.png" alt="Logo 2"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="images/Trusted_logo3.png" alt="Logo 3"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="images/Trusted_logo1.png" alt="Logo 4"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="images/Trusted_logo2.png" alt="Logo 5"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="images/Trusted_logo2.png" alt="Logo 6"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="images/Trusted_logo3.png" alt="Logo 7"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="images/Trusted_logo1.png" alt="Logo 8"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!--Trusted Section End-->

  <!--Call To Action Start-->
<<<<<<< HEAD
  
=======

>>>>>>> 0a19d7c959cd20decb4ccf456d35343482878fdc
  <!--Call To Action End-->

  <!--Footer-->
  <footer>
    <div class="container-fluid footerbg">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a href="#" class="footer-logo">
              <img
                class="logo-dark"
                src="images/logo2.png"
                alt="Hire A Helper"
              />
            </a>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
            <div class="about_info">
              <p>
                <i class="fa fa-map-marker" aria-hidden="true"></i> Lorem Ipsum
                is simply dummy
              </p>
              <p>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                infor@example.com
              </p>
              <p><i class="fa fa-phone" aria-hidden="true"></i> +91807186985</p>
            </div>
          </div>
          <div class="col-md-3">
            <h4>Services</h4>
            <ul>
              <li>
                <a href="#"
                  ><i class="fa fa-caret-right" aria-hidden="true"></i
                  >Cleaning</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-caret-right" aria-hidden="true"></i
                  >Electrical</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-caret-right" aria-hidden="true"></i
                  >Plumbing</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-caret-right" aria-hidden="true"></i
                  >Appliances</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-caret-right" aria-hidden="true"></i
                  >Carpentry</a
                >
              </li>
            </ul>
            <ul>
              <li>
                <a href="#"
                  ><i class="fa fa-caret-right" aria-hidden="true"></i>Geyser
                  Service</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-caret-right" aria-hidden="true"></i>Vehicle
                  Care</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-caret-right" aria-hidden="true"></i>Pest
                  Control</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-caret-right" aria-hidden="true"></i
                  >Panting</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <h4>About Us</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4>Singn up Newsletter</h4>
            <form action="#" method="post" class="newsletter">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Email Address"
                />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
              <!-- /input-group -->
            </form>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s,
            </p>
          </div>
        </div>
        <div class="top_awro pull-right" id="back-to-top">
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <!--Boottom Footer-->
    <div class="container-fluid bottom-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="copyright pull-left">
              &copy; Hire A Helper 2017 All Right Reserved
            </p>
            <ul class="footer-scoails pull-right">
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-google-plus" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-pinterest" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/Footer-->
</div>
<!--/Wrapper End-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/owlcarousel/owl.carousel.min.js"></script>
<script src="js/custom.js"></script>
<script>
  (function (i, s, o, g, r, a, m) {
    i["GoogleAnalyticsObject"] = r;
    (i[r] =
      i[r] ||
      function () {
        (i[r].q = i[r].q || []).push(arguments);
      }),
      (i[r].l = 1 * new Date());
    (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m);
  })(
    window,
    document,
    "script",
    "https://www.google-analytics.com/analytics.js",
    "ga"
  );

  ga("create", "UA-106074231-1", "auto");
  ga("send", "pageview");
</script>

<%- include('./utils/footer'); -%>
