<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search" style="color:black"></i>
                    </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="/" style="color:black"><i class="fa fa-dashboard fa-fw" style="color:black"></i> Dashboard</a>
            </li>
            <li>
                <a href="#" style="color:black"><i class="fa fa-bar-chart-o fa-fw" style="color:black"></i> Service Man<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/flot" style="color:black">All ServiceMan</a>
                    </li>
                   
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/tables" style="color:black"><i class="fa fa-table fa-fw" style="color:black"></i>User</a>
            </li>
            <li>
                <a href="/forms" style="color:black"><i class="fa fa-edit fa-fw" style="color:black"></i>View Order</a>
            </li>
            <li>
                <a href="#" style="color:black"><i class="fa fa-wrench fa-fw" style="color:black"></i>Service<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/panels-wells" style="color:black" >Add Service</a>
                    </li>
                    <li>
                        <a href="/buttons" style="color:black" >View Service</a>
                    </li>
                  
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#" style="color:black"><i class="fa fa-sitemap fa-fw" style="color:black"></i>Change Password</a>
              
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#" style="color:black"><i class="fa fa-files-o fa-fw" style="color:black"></i>Logout</a>
              
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>