
 <footer>
    <div class="container-fluid footerbg">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a href="#" class="footer-logo">
              <img
                class="logo-dark"
                src="images/logo2.png"
                alt="Hire A Helper"
              />
            </a>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
            <div class="about_info">
              <p>
                <i class="fa fa-map-marker" aria-hidden="true"></i> Lorem Ipsum
                is simply dummy
              </p>
              <p>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                infor@example.com
              </p>
              <p><i class="fa fa-phone" aria-hidden="true"></i> +91807186985</p>
            </div>
          </div>
          <div class="col-md-3">
            <h4>Services</h4>
            <ul>
              <li>
                <a href="#"
                  ><i class="fa fa-caret-right" aria-hidden="true"></i
                  >Cleaning</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-caret-right" aria-hidden="true"></i
                  >Electrical</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-caret-right" aria-hidden="true"></i
                  >Plumbing</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-caret-right" aria-hidden="true"></i
                  >Appliances</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-caret-right" aria-hidden="true"></i
                  >Carpentry</a
                >
              </li>
            </ul>
            <ul>
              <li>
                <a href="#"
                  ><i class="fa fa-caret-right" aria-hidden="true"></i>Geyser
                  Service</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-caret-right" aria-hidden="true"></i>Vehicle
                  Care</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-caret-right" aria-hidden="true"></i>Pest
                  Control</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-caret-right" aria-hidden="true"></i
                  >Panting</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <h4>About Us</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4>Singn up Newsletter</h4>
            <form action="#" method="post" class="newsletter">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Email Address"
                />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
              <!-- /input-group -->
            </form>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s,
            </p>
          </div>
        </div>
        <div class="top_awro pull-right" id="back-to-top">
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <!--Boottom Footer-->
    <div class="container-fluid bottom-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="copyright pull-left">
              &copy; Hire A Helper 2017 All Right Reserved
            </p>
            <ul class="footer-scoails pull-right">
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-google-plus" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-pinterest" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>